<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="normalize.css">
 <link rel="stylesheet" href="/css/signup.css">
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
 <script type="text/javascript" src="/js/application.js"></script>

  <title>Sign Up</title>
</head>
<body>
  <form class="login-bg" method="post" action='/signup'>  
    <h2>Sign Up</h2>
      <input class ="input-box" type="text" name="name" placeholder="name"></input>
      <input class ="input-box" type="text" name="email" placeholder="Email"></input>
      <input class ="input-box" type="password" name="password" placeholder="Password"></input>
      <input class ="button-styling" type="submit">

      <div class="home">
      <a href="/">Back to Main Page</a>
      </div>
  </form>

  <div class="guide-box">
    New to the game?<br><br>
    <a href="/guide"><button class="guide">Check Out the Guide!</button></a>
  </div>

    <div class="version">v 0.0.1</div>
</body>
</html>