<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="normalize.css">
 <link rel="stylesheet" href="/css/title.css">
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
 <script type="text/javascript" src="/js/application.js"></script>

  <title>Adjective</title>
</head>
<body>
  <div class="title">Adjective</div>
  <form class="login-bg" method="post" action='/'>
    <h2>Login</h2>
      <input class ="input-box" type="text" name="email" placeholder="Email"></input>
      <input class ="input-box" type="password" name="password" placeholder="Password"></input>
      <input class="login-submit button-styling" type="submit">

      <p class ="box-text"> Don't have an account yet? </p>

      <a href="/signup">
        <input type="button" class="signup" value="Sign Up"></input>
      </a>
  </form>

    <div class="version">v 1.1.2</div>
</body>
</html>


